.tes section{
    background-color: #a31d1d;
}

nav {
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 7vh;
    z-index: 999;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    width: 100vw;
    padding: 4em 2em;
    border-radius: 1em;
}

.text p {
    line-height: 1.6;
}

.res {
    opacity: 0;
}

.profile {
    opacity: 1;
    flex-direction: row;
    justify-content: space-around;
}

.profile img {
    margin: 5vh 0;
    height: 90vh;
    width: 30vw;
    border-radius: 1em;
}

.profile h2 {
    text-align: left;
}

.profile .lost {
    display: block;
}

.lost {
    display: none;
}

.data {
    width: 50vw;
}

@media screen and (max-width: 720px) {
    .profile {
        flex-direction: column;
    }

    .profile img {
        width: 80vw;
        height: 90vw;
    }

    .data {
        width: 80vw;
    }

    .text {
        width: 100%
    }
}